.body-container {
  padding: 40px 20px;
  background-color: var(--background-secondary-color);
  height: 100vh;
}
.sticky-top {
  /* Stick to the top */
  position: sticky;
  top: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.row__cell {
  padding-left: 8px;
  padding-right: 8px;
}

.row__cell--fill {
  flex: 1;
}

.row__cell--12 {
  flex: 0 0 100%;
}

.row__cell--11 {
  flex: 0 0 91.6666667%;
}

.row__cell--10 {
  flex: 0 0 83.33%;
}

.row__cell--9 {
  flex: 0 0 75%;
}

.row__cell--9 {
  flex: 0 0 75%;
}

.row__cell--8 {
  flex: 0 0 66.666667%;
}

.row__cell--7 {
  flex: 0 0 58.33333%;
}

.row__cell--6 {
  flex: 0 0 50%;
}

.row__cell--5 {
  flex: 0 0 41.666667%;
}

.row__cell--4 {
  flex: 0 0 33.33333%;
}

.row__cell--3 {
  flex: 0 0 25%;
}

.row__cell--2 {
  flex: 0 0 16.666667%;
}

.row__cell--1 {
  flex: 0 0 8.3333333%;
}
