.body-container {
  padding: 40px 20px;
  background-color: var(--background-secondary-color);
}
.sticky-top {
  /* Stick to the top */
  position: sticky;
  top: 0;
  z-index: 2;
}

.margin-bottom {
  margin-bottom: var(--spacing-margin-2);
}
.margin-top {
  margin-top: var(--spacing-margin-2);
}
.margin-left {
  margin-left: var(--spacing-margin-2);
}
.margin-right {
  margin-right: var(--spacing-margin-2);
}

.padding-bottom {
  padding-bottom: var(--spacing-margin-2);
}
.padding-top {
  padding-top: var(--spacing-margin-2);
}
.padding-left {
  padding-left: var(--spacing-margin-2);
}
.padding-right {
  padding-right: var(--spacing-margin-2);
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pull-right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.pull-left {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

div[class^="row__cell"],
div[class*=" row__cell"] {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.row__cell {
  padding-left: 8px;
  padding-right: 8px;
}

.row__cell--fill {
  flex: 1;
}

.row__cell--12 {
  flex: 0 0 100%;
}

.row__cell--11 {
  flex: 0 0 91.6666667%;
}

.row__cell--10 {
  flex: 0 0 83.33%;
}

.row__cell--9 {
  flex: 0 0 75%;
}

.row__cell--9 {
  flex: 0 0 75%;
}

.row__cell--8 {
  flex: 0 0 66.666667%;
}

.row__cell--7 {
  flex: 0 0 58.33333%;
}

.row__cell--6 {
  flex: 0 0 50%;
}

.row__cell--5 {
  flex: 0 0 41.666667%;
}

.row__cell--4 {
  flex: 0 0 33.33333%;
}

.row__cell--3 {
  flex: 0 0 25%;
}

.row__cell--2 {
  flex: 0 0 16.666667%;
}

.row__cell--1 {
  flex: 0 0 8.3333333%;
}

.table-data table th {
  border-bottom: 1px solid var(--background-fourth-color);
  padding: 19px 0px;
  border-right: 0;
  border-left: 0;
}

.table-data table {
  border: 0;
  border-collapse: separate;
  border-spacing: 0 5px;
  text-align: center;
  width: 100%;
}

.table-data table thead {
  background-color: var(--background-fifth-color);
}
