body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background-primary-color: #0072ce;
  --background-secondary-color: #f1f7fb;
  --background-third-color: #fff;
  --background-fourth-color: #acc9e0;
  --spacing-margin: 16px;
  --spacing-margin-2: 32px;
}
